html,
body,
footer {
    max-width: 100%;
    overflow-x: hidden;
}

.menu {
    position: relative;
    left: 1200px;
    top: 40px;
    font-size: 25px;
    opacity: 90%;
}

.nav {
    padding-left: 30px;
    padding-right: 30px;
    color: antiquewhite;
}

header {
    background-color: rgba(201, 236, 207, 0.428);
    height: 100px;
}

#fullbody {
    background-image: url(../images/wallpaperbetter.com_1920x1080.jpg);
    background-size: cover;
    height: 800px;
    width: auto;
    position: relative;
    opacity: 90%;
}

.welcome {
    position: relative;
    color: antiquewhite;
    top: 10px;
    font-size: 30px;
    padding-left: 20px;
    width: 600px;
    height: auto;
}

.welcome h1 {
    color: aquamarine;
}

.description {
    color: antiquewhite;
    font-size: 25px;
    width: 600px;
    position: relative;
    top: 100px;
}

.button {
    text-decoration: none;
    font-size: 20px;
    color: aquamarine;
    padding: 20px 50px;
    border: 3px solid aquamarine;
    position: relative;
    top: 200px;
    left: 30px;
}

.button::before,
.button::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: inherit;
    transition: all -5s;
    border-radius: 8%;
}

.button::before {
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.button::after {
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}