.menu {
    position: relative;
    left: 800px;
    color: rgb(0, 162, 243);
    top: 50px;
    font-size: 25px;
}

.nav {
    padding-left: 30px;
    padding-right: 30px;
    color: yellowgreen;
}

header {
    background-color: black;
    height: 130px;
}