html,
body,
footer {
    max-width: 100%;
    overflow-x: hidden;
}

.menu {
    position: relative;
    left: 1200px;
    bottom: 25px;
    font-size: 25px;
    opacity: 90%;
}

.nav {
    padding-left: 30px;
    padding-right: 30px;
    color: antiquewhite;
}

header {
    background-color: rgba(201, 236, 207, 0.428);
    height: 100px;
}

#fullbody {
    background-image: url(../images/wallpaperbetter.com_1920x1080\ \(5\).jpg);
    background-size: cover;
    height: auto;
    width: auto;
    position: relative;
    opacity: 70%;
}

.quiz {
    color: antiquewhite;
    position: relative;
    left: 20px;
    top: 30px;
    font-size: 20px;
}

.quizForm {
    background-color: black;
    opacity: 90%;
    color: antiquewhite;
    font-size: 20px;
    height: 600px;
}

footer {
    background-color: rgba(201, 236, 207, 0.428);
    text-align: center;
    color: antiquewhite;
}

.button {
    min-width: 120px;
    height: 36px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: .1px;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #f7f7f7;
    background-color: transparent;
    color: #ffffff;
    transition: all 200ms ease-in-out;
}

.button :hover {
    transform: scale(1.1);
    background-color: #f7f7f7;
    color: #a22274;
    font-weight: bold;
    box-shadow: 0 0 0 2px #a22274;
    letter-spacing: 1.1px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.button :active {
    transform: scale(1);
}

.qf {
    position: relative;
    left: 30px;
}