html,
body,
footer {
    max-width: 100%;
    overflow-x: hidden;
}

.menu {
    position: relative;
    left: 1000px;
    color: rgb(0, 0, 0);
    top: 40px;
    font-size: 25px;
    opacity: 90%;
}

.nav {
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(14, 15, 11);
}

header {
    background-color: rgba(14, 255, 58, 0.428);
    height: 100px;
}

#fullbody {
    background-image: url(../images/wallpaperbetter.com_1920x1080\ \(5\).jpg);
    background-size: cover;
    height: 800px;
    width: auto;
    position: relative;
    opacity: 90%;
}